body {
	background-color: black;
	color: white;
	padding: 15px;
	padding-bottom: 60px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	border-color: black;
	border: none;
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: 'Orbitron', sans-serif;
}


h1{
	font-size: 40px;
}

h2 {
	font-size: 2rem;
}

.navbar-default {
	background-color: #0d0d0d;
}
.navbar-brand {
	padding-top: 10px;
	background-color: #0d0d0d;
}

.jumbotron {
	background: black url('../img/heroM.png');
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	min-width: 290px;
	width: 100%;
	min-height: 400px;

	
}

/* Tablet Media Query */

@media  screen and (min-width: 500px) and (max-width: 800px) {
	.jumbotron {
		background: url('../img/heroT.png');
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;
		max-width: 800px;
		height: 100%;
		min-width: 470px;
	}

	.panel-group {
		display: none;
	}

	#menupng {
		max-width: 470px;
	}
}

/* Desktop Media Query */

@media screen and (min-width: 801px) {
	.jumbotron {
		background: url('../img/heroD.png');
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;
		min-height: 700px;
		min-width: 800px;
	}

	.panel-group {
		display: none;
	}

	#menupng {
		max-width: 570px;
	}
}

.container {
	
	margin: 5px auto;

}

#menu {

	max-width: 100%;
	padding: 5px;
	
}


#shopHide {
	display: hidden;
}


.headerImg {
	background: black url('../img/shopHeader.png');
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 50px;

}

.headerImgB {
	background: black url('../img/contactHeader.png');
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 50px;



}

.inverseCopy {
	color: black;
}

.prodo {
	min-height: 150px;
	max-width: 150px;
	display: inline-block;
	color: black;
}

@font-face {
    font-family: 'plasmaDrip';
    src: url('plasdrip-webfont.eot');
    src: url('plasdrip-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plasdrip-webfont.woff') format('woff'),
         url('../plasdrip-webfont.ttf') format('truetype'),
         url('plasdrip-webfont.svg#plasma_drip_brkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#contactForm {
	display: none;
}

#ajax-contact {
	color: black;
	width: 235px;
	text-align: left;
}

label {
	color: white;
}

textarea#message {
	height: 160px;
}
