body {
	background-color: black;
	color: white;
	padding: 15px;
	padding-bottom: 60px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	border-color: black;
	border: none;
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: 'Orbitron', sans-serif;
}


h1{
	font-size: 40px;
}

h2 {
	font-size: 2rem;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default {
	background-color: #0d0d0d;
}
.navbar-brand {
	padding-top: 10px;
	background-color: #0d0d0d;
}

.jumbotron {
	background: black url('../img/heroM.png');
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	min-width: 290px;
	width: 100%;
	min-height: 400px;

	
}

#ajax-contact {
	color: white;
	width: 235px;
	text-align: left;
	display: inline-block;
	margin-bottom: 20px;
}

div.field {
	margin-top: 10px;
}

hr{
	margin: 40px auto;
}

/* Tablet Media Query */

@media  screen and (min-width: 500px) and (max-width: 800px) {
	.jumbotron {
		background: url('../img/heroT.png');
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;
		max-width: 800px;
		height: 100%;
		min-width: 470px;
	}

	hr{
	margin: 60px auto;
}

	h1{
		font-size: 60px;
	}

	#menupng {
		max-width: 470px;
	}

	#ajax-contact {
		width: 350px;
	}
}

/* Desktop Media Query */

@media screen and (min-width: 801px) {
	.jumbotron {
		background: url('../img/heroD.png');
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;
		min-height: 700px;
		min-width: 800px;
	}

	hr{
	margin: 100px auto;
}

	h1 {
		font-size: 60px;
	}

	#menupng {
		max-width: 570px;
	}

	#ajax-contact {
		width: 500px;
	}


}
}

.container {
	margin: 25px auto 20px;
}

#menu {
	max-width: 100%;
	padding: 5px;
	margin-bottom: 30px;
}



 #fullShop {
 	margin-top: 40px;
 	 }

.inverseCopy {
	color: black;
}

label {
	color: white;
}

textarea#message {
	height: 160px;
}

.active {
	background-color: white;
}

footer{
	margin: 50px auto;
}
